/* fonter */
.footer{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom:0;
}
.footerIn{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    user-select: none;
}
.footerIn>a{
    margin: 0 20px;
}
.musicPre{
    background: url(../img/player.png) no-repeat  0 -30px;
    width: 19px;
    height: 20px;
    opacity: 0.5;
}
.footMusicPlay{
    background: url(../img/player.png) no-repeat  0 0px;
    width: 21px;
    height: 29px;
    opacity: 0.5;
}
.musicPlayed{
    background: url(../img/player.png) no-repeat -30px 0 !important;
    opacity: 1;
}
.musicNext{
    background: url(../img/player.png) no-repeat  0 -52px;
    width: 19px;
    height: 20px;
    opacity: 0.5;
}
.musicMode{
    background: url(../img/player.png) no-repeat  0 -205px;
    width: 26px;
    height: 25px;
}
.musicMode2{
    width: 23px;
    height: 20px;
    background: url(../img/player.png) no-repeat  0 -260px;
}
.musicMode3{
    width: 25px;
    height: 19px;
    background: url(../img/player.png) no-repeat  0 -74px;
}
.musicMode4{
    width: 26px;
    height: 25px;
    background: url(../img/player.png) no-repeat  0 -232px;
}

.musicFav{
    background: url(../img/player.png) no-repeat  0 -96px;
    width: 24px;
    height: 21px;
}
.musicFav2{
    background: url(../img/player.png) no-repeat  -30px -96px;
    width: 24px;
    height: 21px;
}
.musicDown{
    background: url(../img/player.png) no-repeat  0 -120px;
    width: 22px;
    height: 21px;
}
.musicComment{
    background: url(../img/player.png) no-repeat  0 -400px;
    width: 24px;
    height: 24px;
}
.musicOnly{
    background: url(../img/player.png) no-repeat  0 -281px;
    width: 74px;
    height: 27px;
}
.musicOnlyed{
    background: url(../img/player.png) no-repeat  0 -310px;
    width: 74px;
    height: 27px;
}

.musicProgressInfo{
    width: 550px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}
.musicProgressInfoTop{
    width: 100%;
    height: 20px;
}
.musicProgressInfoTop>span{
    font-size: 14px;
    color: #ffffff;
    opacity: 0.5;
}
.musicProgressName:hover{
    opacity: 1;
}
.musicProgressInfoTop{
    display: flex;
    justify-content: space-between;
}
.musicProgressInfoBar{
    width: 100%;
    height: 4px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}
.musicProgressLine{
    width: 0px;
    min-width: 0px;
    max-width: 550px;
    height: 100%;
    background-color: #fff;
}
.musicProgressDot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.musicVoiceInfo{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
}
.musicVoiceIcon{
    width: 26px;
    height: 21px;
    background: url(../img/player.png) no-repeat 0 -144px;
}
.musicVoiceIconed{
    background: url(../img/player.png) no-repeat 0 -182px !important;

}
.musicVoiceInfoBar{
    margin-left: 5px;
    width: 70px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
}
.musicVoiceLine{
    width: 70px;
    height: 100%;
    background-color: #fff;
}
.musicVoiceDot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    bottom: 5px;
    left: 70px;
}